package router

import (
	"net/http"

    "{{.ModuleName}}/internal/middleware"
    "{{.ModuleName}}/internal/api/handlers"
)


type MyCustomRouter struct {
	http.ServeMux
}

func NewCustomRouter() *MyCustomRouter {
	return &MyCustomRouter{}
}

func (mr *MyCustomRouter) HandlerFuncWithMiddleware(pattern string, mdw []middleware.Middleware, handlerFunc http.HandlerFunc) {
	stackedMiddleWare := middleware.CreateStack(mdw...)
	mr.Handle(pattern, stackedMiddleWare(handlerFunc))
}


func CreateRoutes() *MyCustomRouter {
	router := NewCustomRouter()
	v1Router := NewCustomRouter()
	router.Handle("/v1/", http.StripPrefix("/v1", &v1Router.ServeMux))
	// Add your routes
	v1Router.Handle("/auth/", http.StripPrefix("/auth", CreateHomeRoutes()))

	return router
}

func CreateHomeRoutes() *http.ServeMux {
	homeRouter := NewCustomRouter()
	homeRouter.HandleFunc("GET /", handlers.HomeHandler)

	return &homeRouter.ServeMux
}
